<div class="main">
  <div class="header">
    <mat-icon>account_circle</mat-icon>
    <span>Nguyễn Hữu Nhân</span>
  </div>
  <div class="tabs">
    <mat-tab-group>
      <mat-tab label="Thông tin"> <app-info-user></app-info-user> </mat-tab>
      <mat-tab label="Trình độ học vấn">
        <app-education></app-education>
      </mat-tab>
      <mat-tab label="Chứng chỉ, chứng nhận">
        <app-certificate></app-certificate
      ></mat-tab>
      <!-- <mat-tab label="Công tác"> <app-job></app-job> </mat-tab> -->
      <mat-tab label="Tham gia dự án">
        <app-join-project></app-join-project>
      </mat-tab>
      <mat-tab label="Đào tạo"> <app-training></app-training> </mat-tab>
    </mat-tab-group>
  </div>
</div>
