.main{
    background-color: #f0f2f5;
    height: 100%;
}
.header{
    display: flex;
    gap: 6px;
    align-items: center;
    background-color: #1a73e8;
    justify-content: flex-end;
    height: 60px;
    font-size: 16px;
    color: #fff;
    padding-right: 16px;
}

.tabs{
    background-color: #f0f2f5;
}