<div class="wrapper">
  <div class="container">
    <div class="header-info">
      <img src="../assets/avatar.png" alt="" class="img-avatar" />
      <div class="info">
        <span class="info-name">Nguyễn Hữu Nhân</span>
        <span class="info-email">nguyenhuunhan3357@gmail.com</span>
      </div>
    </div>
    <div class="content-info">
      <div class="row">
        <div class="column">
          <mat-icon>wc</mat-icon>
          <span>Giới tính</span>
        </div>
        <div class="column">
          <span>Nam</span>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <mat-icon>calendar_month</mat-icon>
          <span>Ngày sinh</span>
        </div>
        <div class="column">
          <span>17 tháng 2, 2000</span>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <mat-icon>call</mat-icon>
          <span>Số điện thoại</span>
        </div>
        <div class="column">
          <span>01234456789</span>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <mat-icon>location_on</mat-icon>
          <span>Địa chỉ thường trú</span>
        </div>
        <div class="column">
          <span>Thành phố Thủ Dầu Một, Bình Dương</span>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <mat-icon>location_on</mat-icon>
          <span>Chỗ ở hiện tại</span>
        </div>
        <div class="column">
          <span>Thành phố Thủ Dầu Một, Bình Dương</span>
        </div>
      </div>
    </div>
  </div>
</div>
